<app-header-logo></app-header-logo>
<app-header></app-header>

<div class="main">

  <!--- News panel Start ----->
  <div class="news-panel padding-panel">
    <div class="page-heading text-center">
      <h1>News</h1>
    </div>

    <div class="news-panel-inner slider-outer">
      <div id="owl-demo" class="owl-carousel">
        <div class="item">
          <div class="news-image-content">
            <a href="javascript:;"><img src="../../assets/images/news/news-img1.jpg"></a>
            <div class="news-content">
              <div class="feature-title">
                <a href="javascript:;">Lorem Ispum | Lorem Ispum 2019</a>
              </div>
              <div class="feature-list">
                <ul class="news-image-list">
                  <li>14 May 2019</li>
                  <li><a href="javascript:;">Campaigns</a></li>
                  <li><a href="javascript:;">Women</a></li>
                  <li class="news-drop">
                    <a href=""><i class="fas fa-long-arrow-alt-up"></i></a>
                    <ul class="news-image-sub-list">
                      <li><a href="javascript:;"><i class="fab fa-pinterest"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-tumblr"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="javascript:;"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="news-image-content">
            <a href="javascript:;"><img src="../../assets/images/news/news-img2.jpg"></a>
            <div class="news-content">
              <div class="feature-title">
                <a href="javascript:;">Lorem Ispum | Lorem Ispum 2019</a>
              </div>
              <div class="feature-list">
                <ul class="news-image-list">
                  <li>14 May 2019</li>
                  <li><a href="javascript:;">Campaigns</a></li>
                  <li><a href="javascript:;">Women</a></li>
                  <li class="news-drop">
                    <a href=""><i class="fas fa-long-arrow-alt-up"></i></a>
                    <ul class="news-image-sub-list">
                      <li><a href="javascript:;"><i class="fab fa-pinterest"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-tumblr"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="javascript:;"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="news-image-content">
            <a href="javascript:;"><img src="../../assets/images/news/news-img3.jpg"></a>
            <div class="news-content">
              <div class="feature-title">
                <a href="javascript:;">Lorem Ispum | Lorem Ispum 2019</a>
              </div>
              <div class="feature-list">
                <ul class="news-image-list">
                  <li>14 May 2019</li>
                  <li><a href="javascript:;">Campaigns</a></li>
                  <li><a href="javascript:;">Women</a></li>
                  <li class="news-drop">
                    <a href=""><i class="fas fa-long-arrow-alt-up"></i></a>
                    <ul class="news-image-sub-list">
                      <li><a href="javascript:;"><i class="fab fa-pinterest"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-tumblr"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="javascript:;"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="news-image-content">
            <a href="javascript:;"><img src="../../assets/images/news/news-img4.jpg"></a>
            <div class="news-content">
              <div class="feature-title">
                <a href="javascript:;">Lorem Ispum | Lorem Ispum 2019</a>
              </div>
              <div class="feature-list">
                <ul class="news-image-list">
                  <li>14 May 2019</li>
                  <li><a href="javascript:;">Campaigns</a></li>
                  <li><a href="javascript:;">Women</a></li>
                  <li class="news-drop">
                    <a href=""><i class="fas fa-long-arrow-alt-up"></i></a>
                    <ul class="news-image-sub-list">
                      <li><a href="javascript:;"><i class="fab fa-pinterest"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-tumblr"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="javascript:;"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="news-image-content">
            <a href="javascript:;"><img src="../../assets/images/news/news-img5.jpg"></a>
            <div class="news-content">
              <div class="feature-title">
                <a href="javascript:;">Lorem Ispum | Lorem Ispum 2019</a>
              </div>
              <div class="feature-list">
                <ul class="news-image-list">
                  <li>14 May 2019</li>
                  <li><a href="javascript:;">Campaigns</a></li>
                  <li><a href="javascript:;">Women</a></li>
                  <li class="news-drop">
                    <a href=""><i class="fas fa-long-arrow-alt-up"></i></a>
                    <ul class="news-image-sub-list">
                      <li><a href="javascript:;"><i class="fab fa-pinterest"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-tumblr"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="javascript:;"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="news-image-content">
            <a href="javascript:;"><img src="../../assets/images/news/news-img6.jpg"></a>
            <div class="news-content">
              <div class="feature-title">
                <a href="javascript:;">Lorem Ispum | Lorem Ispum 2019</a>
              </div>
              <div class="feature-list">
                <ul class="news-image-list">
                  <li>14 May 2019</li>
                  <li><a href="javascript:;">Campaigns</a></li>
                  <li><a href="javascript:;">Women</a></li>
                  <li class="news-drop">
                    <a href=""><i class="fas fa-long-arrow-alt-up"></i></a>
                    <ul class="news-image-sub-list">
                      <li><a href="javascript:;"><i class="fab fa-pinterest"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-tumblr"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="javascript:;"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="news-image-content">
            <a href="javascript:;"><img src="../../assets/images/news/news-img7.jpg"></a>
            <div class="news-content">
              <div class="feature-title">
                <a href="javascript:;">Lorem Ispum | Lorem Ispum 2019</a>
              </div>
              <div class="feature-list">
                <ul class="news-image-list">
                  <li>14 May 2019</li>
                  <li><a href="javascript:;">Campaigns</a></li>
                  <li><a href="javascript:;">Women</a></li>
                  <li class="news-drop">
                    <a href=""><i class="fas fa-long-arrow-alt-up"></i></a>
                    <ul class="news-image-sub-list">
                      <li><a href="javascript:;"><i class="fab fa-pinterest"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-tumblr"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="javascript:;"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="news-image-content">
            <a href="javascript:;"><img src="../../assets/images/news/news-img8.jpg"></a>
            <div class="news-content">
              <div class="feature-title">
                <a href="javascript:;">Lorem Ispum | Lorem Ispum 2019</a>
              </div>
              <div class="feature-list">
                <ul class="news-image-list">
                  <li>14 May 2019</li>
                  <li><a href="javascript:;">Campaigns</a></li>
                  <li><a href="javascript:;">Women</a></li>
                  <li class="news-drop">
                    <a href=""><i class="fas fa-long-arrow-alt-up"></i></a>
                    <ul class="news-image-sub-list">
                      <li><a href="javascript:;"><i class="fab fa-pinterest"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-tumblr"></i></a></li>
                      <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="javascript:;"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
  <!--- News panel end ----->


</div>

<app-footer></app-footer>