<div class="model-details-panel">
  <!-- Add Pagination -->
  <div class="d-flex model-detail-top align-items-center justify-content-between">
      <div class="d-flex align-items-center">
          <div class="swiper-pagination mr-20"></div>
          <a href="#" class="box-icon"><!-- <i class="fas fa-th"></i>  --><img src="../../../assets/images/icons/thumbnails.png"></a>
      </div>
      <div class="cross-icon">
          <a href=""><!-- <i class="fas fa-times"></i> --><img src="../../../assets/images/icons/cancel.png"></a>
      </div>
  </div>

  <div class="model-name text-center">
      <h1>Brittney Banning</h1>
  </div>

  <!-- Swiper -->
  <div class="swiper-container mb-30">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../../../assets/images/model-details/model-img1.jpg">
          </div>
          <div class="swiper-slide">
            <img src="../../../assets/images/model-details/model-img1.jpg">
          </div>
          <div class="swiper-slide">
            <img src="../../../assets/images/model-details/model-img1.jpg">
          </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>

  <div class="model-detail text-center mb-50">
      <ul class="d-flex justify-content-center">
          <li>5' 11"</li><li>b34 B</li> <li>w25</li> <li>h36</li> <li>shoe10</li> <li>hair dark brown</li> <li>eyes blue</li>
      </ul>
  </div>


</div>

