<app-header></app-header>


  <div class="about-us-panel padding-panel">

      <div class="page-heading text-center">
          <h1>About Us</h1>
      </div>

      <div class="">
          <img class="mb-30 desk-ban" src="../../assets/images/banner-img/banner-img1.jpg">
          <h5 class="color-red text-center mb-30">This is the place where fashion meets soul</h5>
          <p class="mb-20">
            This is the place where fashion meets soul
            From more than a decade ohh fashion agency has shown its manifest ability to its clients by ensuring the growth and success from working in Japan to global reach. Some of the great talents are discovered by the ohh fashion and furnish them by providing enormous resources.
          </p>
          <p class="mb-30">
            Ohh Fashion Agency was established since early 2006. We are one of the world’s biggest modeling and event management companies who specialize in organizing and supplying professional models as well as planning and managing events. 
          </p>

          <!-- <h4 class="color-red mb-30 text-center">Warning:</h4> -->
          <p class="mb-20">
            As an extension of Ohh Fashions commitment to full spectrum talent management, we are specialized in glamor industry, for over a decade has developed the brand and maintained the brand identifies of artistic by securing major fashion campaigns, private brand licensing, endorsement and marketing  opportunities.
          </p>
         
          <p>
              We wish you the best in all your pursuits and as always, be safe!
          </p>

      </div>

     
  </div>



<app-footer></app-footer>