
<div class="our-model-panel padding-panel">

  <div class="page-heading text-center">
      <h1>Our Models</h1>
  </div>

  <ul class="d-flex flex-wrap our-models-list mb-30">
      <li>
          <a routerLink="/models/modelsDetail" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img1.jpg">
              <div class="d-flex justify-content-between">
                  <span>Brittney Banning</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a routerLink="/models/modelsDetail" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img2.jpg">
              <div class="d-flex justify-content-between">
                  <span>Lisa Chulich</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img3.jpg">
              <div class="d-flex justify-content-between">
                  <span>Jeff Langan</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img4.jpg">
              <div class="d-flex justify-content-between">
                  <span>Paige VanZant</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img5.jpg">
              <div class="d-flex justify-content-between">
                  <span>Allison Stokke</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img6.jpg">
              <div class="d-flex justify-content-between">
                  <span>Rachel Elizabeth </span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img7.jpg">
              <div class="d-flex justify-content-between">
                  <span>Kate Durocher</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img8.jpg">
              <div class="d-flex justify-content-between">
                  <span>Demetrius Mensah</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img9.jpg">
              <div class="d-flex justify-content-between">
                  <span>Ashley Wade</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img10.jpg">
              <div class="d-flex justify-content-between">
                  <span>Ashley Busch</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img11.jpg">
              <div class="d-flex justify-content-between">
                  <span>Olivia Pascale-Wong</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img12.jpg">
              <div class="d-flex justify-content-between">
                  <span>Samantha Kozuch</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img13.jpg">
              <div class="d-flex justify-content-between">
                  <span>Troy Mullins</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img14.jpg">
              <div class="d-flex justify-content-between">
                  <span>Michelle Janine Costello</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img1.jpg">
              <div class="d-flex justify-content-between">
                  <span>Brittney Banning</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img2.jpg">
              <div class="d-flex justify-content-between">
                  <span>Lisa Chulich</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img3.jpg">
              <div class="d-flex justify-content-between">
                  <span>Jeff Langan</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img4.jpg">
              <div class="d-flex justify-content-between">
                  <span>Paige VanZant</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img5.jpg">
              <div class="d-flex justify-content-between">
                  <span>Allison Stokke</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img6.jpg">
              <div class="d-flex justify-content-between">
                  <span>Rachel Elizabeth </span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img7.jpg">
              <div class="d-flex justify-content-between">
                  <span>Kate Durocher</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img8.jpg">
              <div class="d-flex justify-content-between">
                  <span>Demetrius Mensah</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img9.jpg">
              <div class="d-flex justify-content-between">
                  <span>Ashley Wade</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img10.jpg">
              <div class="d-flex justify-content-between">
                  <span>Ashley Busch</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img11.jpg">
              <div class="d-flex justify-content-between">
                  <span>Olivia Pascale-Wong</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img12.jpg">
              <div class="d-flex justify-content-between">
                  <span>Samantha Kozuch</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img13.jpg">
              <div class="d-flex justify-content-between">
                  <span>Troy Mullins</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img14.jpg">
              <div class="d-flex justify-content-between">
                  <span>Michelle Janine Costello</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img11.jpg">
              <div class="d-flex justify-content-between">
                  <span>Olivia Pascale-Wong</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img12.jpg">
              <div class="d-flex justify-content-between">
                  <span>Samantha Kozuch</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img13.jpg">
              <div class="d-flex justify-content-between">
                  <span>Troy Mullins</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
      <li>
          <a href="#" class="our-models-img">
              <img class="mb-10" src="../../../assets/images/models/model-img14.jpg">
              <div class="d-flex justify-content-between">
                  <span>Michelle Janine Costello</span>
                  <span>35k <i class="fab fa-instagram"></i></span>
              </div>
          </a>
      </li>
  </ul>

  <div class="text-center see-more"><a href="#" class="btn">See More</a></div>
</div>


