<!-- header start here ----------->

<div class="header d-flex justify-content-center align-items-center position-relative">
  <div class="banner-content text-center">
    <div class="main-logo mb-60">
      <img src="../../assets/images/main-logo.png">
    </div>
    <div class="country-name mb-100">
      <ul>
        <li>Tokyo</li>
        <li>Vietnam</li>
        <li>Dubai</li>
      </ul>
    </div>
  </div>

  <div class="scroll-down">
    <a href="#header-nav" class="js-anchor-link arrow"></a>
  </div>
</div>
<!---header end here ----------->
