<div class="event-panel">
          
          <ul class="event-detail d-flex">
              <li class="event-img"><a href="javascript::"><img src="../../../assets/images/event-img/event-img1.jpg"></a></li>
              <li class="event-text">
                  <div class="event-content-outer">
                      <div class="event-content">
                          <h6 class="mb-50">March <br>06</h6>
                          <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>                               
                      </div>
                       <label class="mb-0 price-label">Starts at $5.00</label> 
                  </div>                        
              </li>
          </ul>

          <div class="d-flex justify-content-between align-items-center bg-gray mb-50">                              
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
              <a href="javascript::" class="btn">Tickets</a>
          </div>
          
          <ul class="event-detail d-flex">
              <li class="event-img">
                  <div class="">
                      <h6 class="mb-20">Description</h6>
                      <p class="mb-50">RSVP FOR AND RECIEVE PRIORITY MONTHLY INFO ON UPCOMING OPEN CALLS, OPPORTUNITIES, WORKSHOPS AND MORE! BECOME PART OF THE VIP COMMUNITY!</p>
                      <h6 class="mb-20">Tags</h6>
                      <ul class="tags-b mb-50 d-flex">
                          <li><a href="javascript::">Things to do in Los Angeles, CA</a></li>
                          <li><a href="javascript::">Lorem Ispum</a></li>
                      </ul>
                      <h6 class="mb-20">Share With Friends</h6>
                      <ul class="event-social d-flex mb-50">
                          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </li>
              <li>
                  <div class="date-time-b">
                      <h6 class="mb-20"><span><i class="fas fa-clock"></i></span> <span>Date And Time</span></h6>
                      <p class="mb-50">Fri, Mar 15, 2019, 6:10 PM – Mon, Mar 16, 2020, 7:00 AM PDT</p>
                      <h6 class="mb-20"><span><i class="fas fa-map-marker-alt"></i></span> <span>Location</span></h6>
                      <p>Los Angeles <br>Los Angeles, CA <br>United States</p>
                  </div>
              </li>
          </ul>


          <div class="mb-50">
              <img style="width: 100%" src="../../../assets/images/map-img.jpg">
          </div>

         

          <div class="related-event">
              <div class="page-heading text-center">
                  <h1>Other Events You May Like</h1>
              </div>
              <div class="slider-outer releted-event-inner">
                  <div id="owl-demo" class="owl-carousel">
                      <div class="item">
                          <div class="event-content-outer">
                              <a href="javascript::"><img src="../../../assets/images/event-img/event-img1.jpg"></a>
                              <div class="event-content">
                                  <ul class="mb-30 event-time-location">
                                      <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                                      <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
                                  </ul>
                                  <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
                                  <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
                                  <a href="javascript::" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
                              </div>
                              <div class="pricing-label d-flex justify-content-between align-items-center">
                                  <label class="mb-0">Free</label>                                
                                  <ul class="share-save-icons d-flex">
                                      <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                                      <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <div class="event-content-outer">
                              <a href="javascript::"><img src="../../../assets/images/event-img/event-img2.jpg"></a>
                              <div class="event-content">
                                  <ul class="mb-30 event-time-location">
                                      <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                                      <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
                                  </ul>
                                  <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
                                  <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
                                  <a href="javascript::" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
                              </div>
                              <div class="pricing-label d-flex justify-content-between align-items-center">
                                  <label class="mb-0">Free</label>                                
                                  <ul class="share-save-icons d-flex">
                                      <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                                      <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <div class="event-content-outer">
                              <a href="javascript::"><img src="../../../assets/images/event-img/event-img3.jpg"></a>
                              <div class="event-content">
                                  <ul class="mb-30 event-time-location">
                                      <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                                      <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
                                  </ul>
                                  <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
                                  <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
                                  <a href="javascript::" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
                              </div>
                              <div class="pricing-label d-flex justify-content-between align-items-center">
                                  <label class="mb-0">Free</label>                                
                                  <ul class="share-save-icons d-flex">
                                      <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                                      <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <div class="event-content-outer">
                              <a href="javascript::"><img src="../../../assets/images/event-img/event-img4.jpg"></a>
                              <div class="event-content">
                                  <ul class="mb-30 event-time-location">
                                      <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                                      <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
                                  </ul>
                                  <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
                                  <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
                                  <a href="javascript::" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
                              </div>
                              <div class="pricing-label d-flex justify-content-between align-items-center">
                                  <label class="mb-0">Free</label>                                
                                  <ul class="share-save-icons d-flex">
                                      <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                                      <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <div class="event-content-outer">
                              <a href="javascript::"><img src="../../../assets/images/event-img/event-img5.jpg"></a>
                              <div class="event-content">
                                  <ul class="mb-30 event-time-location">
                                      <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                                      <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
                                  </ul>
                                  <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
                                  <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
                                  <a href="javascript::" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
                              </div>
                              <div class="pricing-label d-flex justify-content-between align-items-center">
                                  <label class="mb-0">Free</label>                                
                                  <ul class="share-save-icons d-flex">
                                      <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                                      <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <div class="event-content-outer">
                              <a href="javascript::"><img src="../../../assets/images/event-img/event-img6.jpg"></a>
                              <div class="event-content">
                                  <ul class="mb-30 event-time-location">
                                      <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                                      <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
                                  </ul>
                                  <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
                                  <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
                                  <a href="javascript::" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
                              </div>
                              <div class="pricing-label d-flex justify-content-between align-items-center">
                                  <label class="mb-0">Free</label>                                
                                  <ul class="share-save-icons d-flex">
                                      <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                                      <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                    

                  </div>
              </div>
          </div>

      </div>

