<ul class="event-list-latest d-flex mb-50">
  <li class="event-img"><a href="javascript::"><img src="../../../assets/images/event-img/event-img1.jpg"></a></li>
  <li class="event-text">
      <div class="event-content-outer">
          <div class="event-content">
              <ul class="d-flex mb-30 event-time-location">
                  <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                  <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
              </ul>
              <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
              <p class="mb-30">Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing […]</p>
              <a [routerLink]="['/event/eventDetail']" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="pricing-label d-flex justify-content-between align-items-center">
              <label class="mb-0">Starts at $5.00</label>                                
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
          </div>
      </div>                        
  </li>
</ul>

<ul class="event-list-older d-flex flex-wrap mb-30">
  <li>
      <div class="event-content-outer">
          <a href="javascript::"><img src="../../../assets/images/event-img/event-img2.jpg"></a>
          <div class="event-content">
              <ul class="mb-30 event-time-location">
                  <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                  <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
              </ul>
              <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
              <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
              <a [routerLink]="['/event/eventDetail']" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="pricing-label d-flex justify-content-between align-items-center">
              <label class="mb-0">Free</label>                                
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
          </div>
      </div> 
  </li>
  <li>
      <div class="event-content-outer">
          <a href="javascript::"><img src="../../../assets/images/event-img/event-img3.jpg"></a>
          <div class="event-content">
              <ul class="mb-30 event-time-location">
                  <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                  <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
              </ul>
              <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
              <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
              <a [routerLink]="['/event/eventDetail']" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="pricing-label d-flex justify-content-between align-items-center">
              <label class="mb-0">Free</label>                                
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
          </div>
      </div> 
  </li>
  <li>
      <div class="event-content-outer">
          <a href="javascript::"><img src="../../../assets/images/event-img/event-img4.jpg"></a>
          <div class="event-content">
              <ul class="mb-30 event-time-location">
                  <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                  <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
              </ul>
              <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
              <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
              <a [routerLink]="['/event/eventDetail']" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="pricing-label d-flex justify-content-between align-items-center">
              <label class="mb-0">Free</label>                                
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
          </div>
      </div> 
  </li>
  <li>
      <div class="event-content-outer">
          <a href="javascript::"><img src="../../../assets/images/event-img/event-img5.jpg"></a>
          <div class="event-content">
              <ul class="mb-30 event-time-location">
                  <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                  <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
              </ul>
              <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
              <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
              <a [routerLink]="['/event/eventDetail']" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="pricing-label d-flex justify-content-between align-items-center">
              <label class="mb-0">Free</label>                                
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
          </div>
      </div> 
  </li>
  <li>
      <div class="event-content-outer">
          <a href="javascript::"><img src="../../../assets/images/event-img/event-img6.jpg"></a>
          <div class="event-content">
              <ul class="mb-30 event-time-location">
                  <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                  <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
              </ul>
              <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
              <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
              <a [routerLink]="['/event/eventDetail']" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="pricing-label d-flex justify-content-between align-items-center">
              <label class="mb-0">Free</label>                                
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
          </div>
      </div> 
  </li>
  <li>
      <div class="event-content-outer">
          <a href="javascript::"><img src="../../../assets/images/event-img/event-img2.jpg"></a>
          <div class="event-content">
              <ul class="mb-20 event-time-location">
                  <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                  <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
              </ul>
              <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
              <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
              <a [routerLink]="['/event/eventDetail']" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="pricing-label d-flex justify-content-between align-items-center">
              <label class="mb-0">Free</label>                                
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
          </div>
      </div> 
  </li>
  <li>
      <div class="event-content-outer">
          <a href="javascript::"><img src="../../../assets/images/event-img/event-img3.jpg"></a>
          <div class="event-content">
              <ul class="mb-30 event-time-location">
                  <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                  <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
              </ul>
              <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
              <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
              <a [routerLink]="['/event/eventDetail']" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="pricing-label d-flex justify-content-between align-items-center">
              <label class="mb-0">Free</label>                                
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
          </div>
      </div> 
  </li>
  <li>
      <div class="event-content-outer">
          <a href="javascript::"><img src="../../../assets/images/event-img/event-img4.jpg"></a>
          <div class="event-content">
              <ul class="mb-30 event-time-location">
                  <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                  <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
              </ul>
              <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
              <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
              <a [routerLink]="['/event/eventDetail']" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="pricing-label d-flex justify-content-between align-items-center">
              <label class="mb-0">Free</label>                                
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
          </div>
      </div> 
  </li>
  <li>
      <div class="event-content-outer">
          <a href="javascript::"><img src="../../../assets/images/event-img/event-img5.jpg"></a>
          <div class="event-content">
              <ul class="mb-30 event-time-location">
                  <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                  <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
              </ul>
              <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
              <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
              <a [routerLink]="['/event/eventDetail']" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="pricing-label d-flex justify-content-between align-items-center">
              <label class="mb-0">Free</label>                                
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
          </div>
      </div> 
  </li>
  <li>
      <div class="event-content-outer">
          <a href="javascript::"><img src="../../../assets/images/event-img/event-img6.jpg"></a>
          <div class="event-content">
              <ul class="mb-30 event-time-location">
                  <li><span><i class="fas fa-clock"></i></span> <span>Sun, Jun 16 2019, 7:00PM</span></li>
                  <li><span><i class="fas fa-map-marker-alt"></i></span> <span>California</span></li>
              </ul>
              <h4 class="mb-30"><a href="javascript::">Event Name</a></h4>
              <p class="mb-30">Lorem Ipsum is simply dummy text of the printing […]</p>
              <a [routerLink]="['/event/eventDetail']" class="mb-30">Read More <i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="pricing-label d-flex justify-content-between align-items-center">
              <label class="mb-0">Free</label>                                
              <ul class="share-save-icons d-flex">
                  <li><a href="javascript::"><i class="far fa-share-square"></i></a></li>
                  <li><a href="javascript::"><i class="far fa-heart"></i></a></li>
              </ul>
          </div>
      </div> 
  </li>
</ul>
<div class="text-center see-more"><a href="#" class="btn">See More</a></div>

